body{
    color: #ffffff;
    background-color: #1F2937;
    overflow-x: hidden;
}
img{
    width: 100%;
}
#header{
    width: 80%;
    margin: 2rem auto;
}
.company-logo{
    font-size: 2.4rem;
    color: #F9FAF8;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.nav-link{
    display: inline-block;
}
.main-text{
    width: 45%;
}
#main{
    width: 80%;
    margin: 15rem auto ;
    display: flex;
    justify-content: space-between;
}
.hero-main-text{
    color: #F9FAF8;
    font-size: 4.8rem;
    font-weight: bold;
}
.hero-secondary-text{
    font-size: 1.8rem;
    color: #E5E7EB;
}
.btn{
    background-color:#3882f6;
	border-radius:1rem;
	cursor:pointer;
	color:#F9FAF8;
    display: inline-block;
    margin-top: 1.5rem;
	padding:1rem 5.7rem;
	text-decoration:none;
}
.main-img{
    width: 45%;
}
#info-section{
    background-color: #F9FAF8;
    height: 40rem;
    display: flex;
    flex-direction: column;
}
.info-section-tittle{
    padding: 2rem 0;
    text-align: center;
    color: #1F2937;
    font-size: 3.6rem;
    font-weight: bold;
}
.articles{
    display: flex;
    width: 65%;
    margin: 1rem auto;
    gap: 1rem;
    
}
.info-article{
    margin: 0 auto;
   
}
.info-article,.article-img{
    width: 16rem;
    height: 16rem;
    object-fit: cover;
    object-position: center center;
} 
.article-info{
    text-align: center;
    font-size: 1.2rem;
    color: #526c91;
}
.inspiring-quote{
    text-align: center;
    display: flex;
    justify-content:center;
    flex-direction: column;
    background-color: #E5E7EB;
    height: 40rem;
    font-style: italic;
    font-size: 3.6rem;
    color: #1F2937;
}
.autor{
    display:inline-block;
    text-align: right;
    color: #526c91;
    font-size: 3rem;
    font-weight:100;
    margin-right: 3rem;
}