@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
body{
    color: #ffffff;
    background-color: #1F2937;
    overflow-x: hidden;
    font-family: 'Merriweather', serif;
}
img{
    width: 100%;
}
#header{
    width: 80%;
    margin: 2rem auto;
}
.company-logo{
    font-size: 2.4rem;
    color: #F9FAF8;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.nav-link{
    display: inline-block;
    margin-left: 1rem;
    font-weight: 100;
}
.nav-link >a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 1.5rem;
}
.main-text{
    width: 45%;
}
#main{
    width: 80%;
    margin: 15rem auto ;
    display: flex;
    justify-content: space-between;
}
.hero-main-text{
    color: #F9FAF8;
    font-size: 4.8rem;
    font-weight: bold;
}
.hero-secondary-text{
    font-size: 1.2rem;
    color: #E5E7EB;
    font-size: 100;
}
.btn{
    background-color:#3882f6;
	border-radius:1rem;
	cursor:pointer;
	color:#F9FAF8;
    display: inline-block;
    margin-top: 1.5rem;
	padding:1rem 5.7rem;
	text-decoration:none;
    font-weight: 700;
    font-size: 1.5rem;
}
.main-img{
    width: 45%;
}
#info-section{
    background-color: #F9FAF8;
    height: 40rem;
    display: flex;
    flex-direction: column;
}
.info-section-tittle{
    padding: 2rem 0;
    text-align: center;
    color: #1F2937;
    font-size: 3.6rem;
    font-weight: bold;
}
.articles{
    display: flex;
    width: 65%;
    margin: 1rem auto;
    gap: 1rem;
    
}
.info-article{
    margin: 0 auto;
}
.info-article,.article-img{
    width: 16rem;
    height: 16rem;
    object-fit: cover;
    object-position: center center;
} 
.article-info{
    text-align: center;
    font-size: 1.2rem;
    color: #526c91;
    font-weight: 100;
}
.inspiring-quote{
    text-align: center;
    display: flex;
    justify-content:center;
    flex-direction: column;
    background-color: #E5E7EB;
    height: 40rem;
    font-style: italic;
    font-size: 3rem;
    color: #1F2937;
    font-weight: 600;
}
.autor{
    display:inline-block;
    text-align: right;
    color: #526c91;
    font-size: 3rem;
    font-weight:100;
    margin-right: 3rem;
}
#call-to-action-section{
    background-color: #F9FAF8;
    height: 30rem;
    display: flex;

}
.call-to-action{
    margin: auto;
    display: flex;
    width: 65%;
    height: 15rem;
    background-color: #3882f6;
    font-size: 1.6rem;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2rem;
}
.call-to-action-text > h3{
    font-weight: 700;
}
.call-to-action-text > p{
    font-size: 1rem;
    font-weight: 100;
}
.call-to-action > .btn{
    border: #F9FAF8 3px solid;
}
#footer{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 100;
}